In [ ]:
#variable name

myvar = "Hello"
my_var = "Hello"
_my_var = "Hello"
myVar = "Hello"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)

Hello
Hello
Hello
Hello

In [ ]:
#function

def hello():
    a = 10          # Here a is local variable
    print(a) 
    return
hello()

10

In [ ]:
#Global variable

a = "Welcome to Skillfor future 1.0" # Here a is global variable
def hello():
    a = 20
    print(a)  # Here a is local variable
    return
hello()
print(a)

20
Welcome to Skillfor future 1.0

In [ ]:
#Multiple assignment
b,c,d = 11, 12, 13
print(b,c,d)

11 12 13

In [ ]:
# addition, sub, mul, div: +, -, *, / , // etc
x = 5
y = 3

print(x / y)

1.6666666666666667

In [ ]:
x = 5
x += 3

print(x)

8

In [ ]:
#use input keyword to take input from user

#aks user to enter the value and store it in varialbe x

x = int(input("Enter the value of x : "))

#aks user to enter the value and store it in varialbe y

y = int(input("Enter the value of y : "))

#perform multiplication of x and y and store answer in variable Z

z = x*y

#Print answer

print(z)

Enter the value of x :  10
Enter the value of y :  20

200

In [ ]:
statement = "      Python is a programming language      "
l=[]
l=statement.split()
print(l)

['Python', 'is', 'a', 'programming', 'language']

In [ ]:
statement = "      Python is a programming language      "
l=[]
l=statement.split("p")
print(l)

['      Python is a ', 'rogramming language      ']

In [ ]:
statement = "      Python is a programming language      "
l=[]
l=statement.split("a")
print(l)

['      Python is ', ' progr', 'mming l', 'ngu', 'ge      ']

In [ ]:
statement = "      Python is a programming language      "
l=[]
l=statement.split("a",1)
print(l)

['      Python is ', ' programming language      ']

In [ ]:
#string-lower

statement = "      Python is a programming language      "

statement.lower() #to convert text into lowercase

'      python is a programming language      '

In [ ]:
#string-upper

statement = "      Python is a programming language      "

statement.upper() #to convert text into lowercase

'      PYTHON IS A PROGRAMMING LANGUAGE      '

In [ ]:
#string-space (rstrip,lstrip)

statement = "      Python is a programming language      "

statement.rstrip() #to convert text into lowercase
statement.lstrip() #to convert text into lowercase

'Python is a programming language      '

In [ ]:
#format function for printing string

string = "{} is the best {} {} in the world for data science".format('Python','Programming','Language')
string

'Python is the best Programming Language in the world for data science'

In [ ]:
#formating a string

name = 'Priyanka'
course = 'skill for future 1.0'
print(f"Hello, My name is {name} and I registered for {course}")

Hello, My name is Priyanka and I registered for skill for future 1.0

In [ ]:
#indexing

str1="FACE"

len(str1)

str1[2]

'C'

In [ ]:
#slicing

str1="FACE"

str1[-2:-4] #bcs interpreter compile left to right

str1[::-1]
str1[-1::]

'E'

In [ ]:
##list
#create list

lst1 = ["snpitrc", 22, "Bharat", 45.5, "bardoli", 99]
print(lst1)

print(type(lst1))

['snpitrc', 22, 'Bharat', 45.5, 'bardoli', 99]
<class 'list'>

In [ ]:
#list -append

fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#list extend

fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
#insert method

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange") # insert orange at index 1
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#pop and remove

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1) #pop element at index 1
print(fruits)

fruits.remove("apple") #remove perticular element
print(fruits)

['apple', 'cherry']
['cherry']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo','Apple']

cars.sort()#the words arranged in alphabetical order (capital , smaller)
print(cars)

['Apple', 'BMW', 'Ford', 'Volvo']

In [ ]:
###tuple

#create tuples -

tup1 = "parul", 22, "Bharat", 45.5, "vadodara", 99

print(tup1)
print(type(tup1))

#indexing
print(tup1[1])

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>
22

In [ ]:
#concatination

tup1 = "parul", 22, "Bharat", 45.5, "vadodara", 99
tup2=("python", 87)

tup3 = tup1 + tup2
print(tup3)

('parul', 22, 'Bharat', 45.5, 'vadodara', 99, 'python', 87)

In [ ]:
#tuple method - count

numbers = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = numbers.count(5)  # 5 is the element in tuple
print(x)

2

In [ ]:
#tuple method - index

numbers = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = numbers.index(8)
print(x)

3

In [ ]:
#Dictionary
cars = {
  "brand": "Mahindra",
  "model": "Thar",
  "year": 2010
}

print(cars)
print(type(cars))
print(cars["model"]) # for accesing item from the dictionary
print(cars.keys())
print(cars.values())
print(cars.items())
cars.update({"year":2020})
print(cars)
cars["color"]="red"
print(cars)
cars.pop("color")
print(cars)

{'brand': 'Mahindra', 'model': 'Thar', 'year': 2010}
<class 'dict'>
Thar
dict_keys(['brand', 'model', 'year'])
dict_values(['Mahindra', 'Thar', 2010])
dict_items([('brand', 'Mahindra'), ('model', 'Thar'), ('year', 2010)])
{'brand': 'Mahindra', 'model': 'Thar', 'year': 2020}
{'brand': 'Mahindra', 'model': 'Thar', 'year': 2020, 'color': 'red'}
{'brand': 'Mahindra', 'model': 'Thar', 'year': 2020}

In [ ]:
###SET
#-immutable
#-unoderedd
#-not allow duplicate values

subjects1 = {'Physics', 'Hindi', 'Chemistry', 'maths', 'Hindi'}
print(subjects1)
print(type(subjects1))

subjects1 = {'Physics', 'Hindi', 'Chemistry', 'maths', 'hindi'}
print(subjects1)

{'Physics', 'maths', 'Hindi', 'Chemistry'}
<class 'set'>
{'Physics', 'maths', 'Chemistry', 'hindi', 'Hindi'}

In [ ]:
#all the functions of the set in maths are include here

subjects1 = {'Physics', 'Hindi', 'Chemistry', 'maths', 'Hindi'}
subjects2 = {'History', 'Social Science', 'Biology','Hindi'}
print(subjects2)


subjects1.union(subjects2) # This is another method to make union of two sets
subjects1.intersection(subjects2)  # To find the common iterm in both the sets

{'Social Science', 'History', 'Biology', 'Hindi'}

{'Hindi'}

In [ ]:
###PYHTONS BUILT-IN FUNTIONS

#len()
name='asddf'
len(name)


#sorted
theater = {
  "Movie": "Pushpa",
  "Actor": "Allu Arjun",
  "year": 2021
}
sorted(theater)

#max
#dir (give the all stored functions)

#dir(list)
#dir(dict)

['Actor', 'Movie', 'year']

In [ ]:
#PYTHON CONDITIONING STATEMENT

##if_elif_else

number = int(input("Enter Number  " ))

if number > 0:
    print("Positive number")

elif number == 0:
    print('Zero')
else:
    print('Negative number')
counter = 0

Enter Number   -6

Negative number

In [ ]:
#PYTHON LOOP STATEMENTS

#WHILE LOOP
while counter < 3:
    print('Hello world')
    counter = counter + 1

print('This statement is always executed')

#FOR LOOP
#for loop(range function)
print(range(10))

for i in range(1,8):
    print(i)

This statement is always executed
range(0, 10)
1
2
3
4
5
6
7

In [ ]:
for letter in "python":
    print(letter)

p
y
t
h
o
n

In [ ]:
lst=[i for i in "python"]
lst

#gives error in tuple
# lst=(i for i in "python")
# lst

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
#Python break Statement
i = 1
while i < 9:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 1
while i < 9:
  print(i)
  if i == 3:
    pass
  i += 2

1
3
5
7

In [ ]:
#prime number from 1 to 10
l=[1,2,3,4,5,6,7,8,9,10]
n=len(l)
count=0
for i in range(2,21):
    if l[i]%==0:
        count+=1
if count<=2:
    print()
   
#functions

In [ ]:
#find the total price

item=["AB","AW","AY","AQ"]
price=[120,50,230,98]
n=len(l1)
def total(item,price):
    a=len(item)
    b=len(price)
    if a != b:
        print("some have no price values")
    else:
        l3=0
        for i in range(a):
            l3=l3+price[i]
        return l3
    
result=total(item,price)    
print(result)

498

In [ ]:
#calculate the carbon foorprint
#ec=energy consumption
#ef=emission factor
ec=69
ef=0.72
def carbon_footprint(ec,ef):
    return ec*ef 
result= carbon_footprint(ec,ef)
print(result)

49.68

In [ ]:
ec=69
ef=0.72
carbon_footprint=lambda ec,ef: ec*ef
result=carbon_footprint(ec,ef)
print(result)

49.68

In [ ]:
# List of cities with their carbon footprints in tons CO2 per month
cities = [
    {"name": "Surat", "carbon_footprint": 500},
    {"name": "bardoli", "carbon_footprint": 350},
    {"name": "Ahemdabad", "carbon_footprint": 600},
    {"name": "vadodara", "carbon_footprint": 200},
]

sustainability_threshold = 400

sustainable_cities = list(filter(lambda city: city["carbon_footprint"] < sustainability_threshold, cities))

print("Sustainable Cities:")
for city in sustainable_cities:
    print(city["name"])

Sustainable Cities:
bardoli
vadodara

In [ ]:
#EXCEPTION HANDLING
try:
    numerator = int(input("Enter the numerator: "))
    denominator = int(input("Enter the denominator: "))
    result = numerator / denominator
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except ValueError:
    print("Error: Please enter valid integers for numerator and denominator.")

Enter the numerator:  23
Enter the denominator:  45

Result: 0.5111111111111111

In [ ]:
#OBJECT ORIENTED PROGRAMMING

##CLASS##
  # Define the EnergySystem class
class EnergySystem:
    def __init__(self, building_name, energy_consumption, emission_factor):
        # Initialize attributes
        self.building_name = building_name
        self.energy_consumption = energy_consumption  # in kWh
        self.emission_factor = emission_factor  # kg CO2 per kWh

# Example usage:
building = EnergySystem("Building A", 5000, 0.45)
print(f"{building.building_name}: {building.energy_consumption} kWh, {building.emission_factor} kg CO2/kWh")

Building A: 5000 kWh, 0.45 kg CO2/kWh

In [ ]:
class EnergySystem:
    def __init__(self, building_name, energy_consumption, emission_factor):
        self.building_name = building_name
        self.energy_consumption = energy_consumption  # in kWh
        self.emission_factor = emission_factor  # kg CO2 per kWh
    
    # Method to calculate carbon footprint
    def calculate_carbon_footprint(self):
        return self.energy_consumption * self.emission_factor

    # Method to calculate energy savings (Assume saving 10% for now)
    def calculate_energy_savings(self):
        return self.energy_consumption * 0.10  # 10% savings

# Example usage:
building = EnergySystem("Building A", 5000, 0.45)
carbon_footprint = building.calculate_carbon_footprint()
energy_savings = building.calculate_energy_savings()

print(f"Carbon Footprint: {carbon_footprint} kg CO2")
print(f"Energy Savings: {energy_savings} kWh")

Carbon Footprint: 2250.0 kg CO2
Energy Savings: 500.0 kWh

In [ ]:
##INHERITENCE##

# Subclass SolarEnergySystem inheriting from EnergySystem
class SolarEnergySystem(EnergySystem):
    def __init__(self, building_name, energy_consumption, emission_factor, solar_production):
        # Inherit attributes from the parent class
        super().__init__(building_name, energy_consumption, emission_factor)
        self.solar_production = solar_production  # energy produced by solar panels in kWh
    
    # Method to calculate net energy consumption (energy used - solar energy produced)
    def net_energy_consumption(self):
        return self.energy_consumption - self.solar_production

# Example usage:
solar_building = SolarEnergySystem("Solar Building", 5000, 0.45, 1500)
net_consumption = solar_building.net_energy_consumption()

print(f"Net Energy Consumption: {net_consumption} kWh")

Net Energy Consumption: 3500 kWh

In [ ]:
##ENCAPSULATION##(PROTECTING ATTRIBUTES)

class EnergySystem:
    def __init__(self, building_name, energy_consumption, emission_factor):
        self.building_name = building_name
        self._energy_consumption = energy_consumption  # Protected attribute
        self._emission_factor = emission_factor  # Protected attribute

    # Method to access energy consumption safely
    def get_energy_consumption(self):
        return self._energy_consumption

    # Method to calculate carbon footprint
    def calculate_carbon_footprint(self):
        return self._energy_consumption * self._emission_factor

# Example usage:
building = EnergySystem("Building A", 5000, 0.45)
print(f"Energy Consumption (accessed via method): {building.get_energy_consumption()} kWh")
print(f"Energy Consumption (accessed via method): {building.calculate_carbon_footprint()} kWh")

Energy Consumption (accessed via method): 5000 kWh
Energy Consumption (accessed via method): 2250.0 kWh

In [ ]:
##POLYMORPHISM##

# Subclass SolarEnergySystem overriding the carbon footprint method
class SolarEnergySystem(EnergySystem):
    def __init__(self, building_name, energy_consumption, emission_factor, solar_production):
        # Call the parent class constructor to initialize inherited attributes
        super().__init__(building_name, energy_consumption, emission_factor)
        self.solar_production = solar_production  # new attribute for solar energy production
    
    # Overriding the carbon footprint method to account for solar production
    def calculate_carbon_footprint(self):
        # Access energy consumption from the parent class (inherited attribute)
        net_consumption = self._energy_consumption - self.solar_production
        return net_consumption * self._emission_factor

# Example usage:
solar_building = SolarEnergySystem("Solar Building", 5000, 0.45, 1500)
carbon_footprint = solar_building.calculate_carbon_footprint()

print(f"Adjusted Carbon Footprint (after solar production): {carbon_footprint:.2f} kg CO2")

Adjusted Carbon Footprint (after solar production): 1575.00 kg CO2