In [3]:
%pip install pandas
# Install and import numpy in the same cell. Run this whole cell (Shift+Enter).
import pandas as pd
import numpy as np
print(dir(pd))

Requirement already satisfied: pandas in c:\users\asys\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asys\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asys\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asys\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asys\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asys\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# Data analysis using Pandas

### Creating a Series

In [ ]:
# Creating empty series. 
ser = pd.Series()
print(ser)
# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])
ser = pd.Series(data) 
print(ser)

Series([], dtype: object)
0    g
1    e
2    e
3    k
4    s
dtype: object

In [ ]:


#import pandas as pd import pandas as pd
# list of strings
import pandas as pd
import numpy as np
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
# Calling DataFrame constructor on list 
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [6]:
# Python code demonstrate creating
# DataFrame from dict narray / lists #By default addresses.
import pandas as pd
# intialise data of lists.
data = { 'Name': ['Tom', 'nick', 'krish', 'jack'], 
        'Age': [20, 21, 19, 18]}
# Create DataFrame
df = pd.DataFrame(data)
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

### Reindexing 
##### modifies the row and column labels of a DataFrame.
##### it denotes the conforming of DataFrame to new index with optional filling logic.

In [1]:
import pandas as pd
# Create dataframe
info = pd.DataFrame({"P":[4, 7, 1, 8, 9], 
                     "Q":[6, 8, 10, 15, 11], 
                     "R":[17, 13, 12, 16, 14], 
                     "S":[15, 19, 7, 21, 9]}, 
                    index =["Parker", "William", "Smith", "Terry", "Phill"])
#Print dataframe
info

         P   Q   R   S
Parker   4   6  17  15
William  7   8  13  19
Smith    1  10  12   7
Terry    8  15  16  21
Phill    9  11  14   9

In [ ]:

# reindexing with new index values 
info.reindex(["A", "B", "C", "D", "E"])

    P   Q   R   S
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN
E NaN NaN NaN NaN

In [ ]:
# Fill missing values
info.reindex (["A", "B", "C", "D", "E"], fill_value =100)

     P    Q    R    S
A  100  100  100  100
B  100  100  100  100
C  100  100  100  100
D  100  100  100  100
E  100  100  100  100

### Pandas Sorting 
-- By label 
-- By actual value

In [13]:
unsorted_df = pd.DataFrame(np.random.randn (10,2), index= [1,4,6,2,3,5,9,8,8,7], columns = ['co12', 'col1'])
sorted_df = unsorted_df.sort_index() 
print (sorted_df)

       co12      col1
1 -0.070610 -0.449306
2 -0.449922 -0.988598
3  0.623988  0.196994
4 -0.404625  1.168943
5 -0.659478  0.407390
6  0.386192 -0.316949
7 -0.947074  1.857840
8 -0.379035  0.352921
8 -1.000112  1.222561
9  0.541949  0.580836

### Sort The Column

In [15]:
# By value 
sorted_df = unsorted_df.sort_values(by='col1')
print (sorted_df)

       co12      col1
2 -0.449922 -0.988598
1 -0.070610 -0.449306
6  0.386192 -0.316949
3  0.623988  0.196994
8 -0.379035  0.352921
5 -0.659478  0.407390
9  0.541949  0.580836
4 -0.404625  1.168943
8 -1.000112  1.222561
7 -0.947074  1.857840

### Working with Text Data

In [16]:

import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234', 'SteveSmith'])
print (s. str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

### Statical Functions

In [17]:
# sum()
# count()
# max() mean() median() min() std() var()
# describe() Return the statistics of each column


# Dataset
data = {
'Maths': [90, 85, 98, None, 55, 78],
'Science': [92, 87, 59, None, None, 96],
'English': [95, None, 84, 75, 67, None]
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame 
print("DataFrame = \n", df)
# Display the Count of non-empty values in each column 
print("\nCount of non-empty values = \n", df.count())

DataFrame =
    Maths  Science  English
0   90.0     92.0     95.0
1   85.0     87.0      NaN
2   98.0     59.0     84.0
3    NaN      NaN     75.0
4   55.0      NaN     67.0
5   78.0     96.0      NaN

Count of non-empty values =
 Maths      5
Science    4
English    4
dtype: int64